
@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/Styles.css" />

<section>

        <h2 >Your System Registration</h2>
        <img src=/Assets/registerwallpaper.jpg class="img-fluid" alt="some text">
    
</section>